:root
{
    --header-bg-color:white;
    --filter-bg-color:#1d3557;
    --arrow-color:rgb(0, 150, 214);
    --highlight-txt-color:#0096D6;
    --highlight-chart-color:#1c4e80;
    --light-chart-color:#0091d5
}

/* for color themes https://aesalazar.com/blog/professional-color-combinations-for-dashboards-or-mobile-bi-applications */